{% for content in similar_page_contents %}
    <div class="contents">
        <a href="{% url 'content' content.id %}">{{ content.title }}</a>
    </div>
{% endfor %}
{% if similar_page_contents.has_other_pages %}
    <div class="bottom_text">
        {% if similar_page_contents.has_previous %}
        <div class="bottom_text_left">
            <a href="?similar_page=1{% if search_query %}&q={{ search_query }}{% endif %}" class="page-link"><span class="material-symbols-rounded">first_page</span></a>
            <a href="?similar_page={{ similar_page_contents.previous_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" class="page-link"><span class="material-symbols-rounded">chevron_left</span></a>
        </div>
        {% endif %}
        <div class="bottom_text_center">{{similar_page_contents.number }} / {{ similar_page_contents.paginator.num_pages }}</div>
        {% if similar_page_contents.has_next %}
        <div class="bottom_text_right">
            <a href="?similar_page={{ similar_page_contents.next_page_number }}{% if search_query %}&q={{ search_query }}{% endif %}" class="page-link"><span class="material-symbols-rounded">chevron_right</span></a>
            <a href="?similar_page={{ similar_page_contents.paginator.num_pages }}{% if search_query %}&q={{ search_query }}{% endif %}" class="page-link"><span class="material-symbols-rounded">last_page</span></a>
        </div>
        {% endif %}
    </div>
{% endif %}